.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent; /* Reduced opacity background */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    z-index: 1000;
    border-bottom: 1px solid #eee;
  }
  
  .logo {
    color: #fff;
    font-size: 1.5rem;
  }
  
  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu li {
    margin: 0 1rem;
  }
  
  .menu a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
  }
  
  .menu a:hover {
    color: #ddd;
  }
  
  .menu-toggle {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
  }
  
  @media (max-width: 768px) {
    .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color:transparent; /* Reduced opacity background */
      transition: all 0.3s ease;
    }
  
    .menu.open {
      display: flex;
      padding-bottom: 10px;
      padding-top: 10px;
    }
    .menu.open ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
  
    .menu-toggle {
      display: block;
    }
  }
  